span {
    font-weight: bold;
    font-size: larger;
}

h1,h2 {
    text-align: center;
}

h1{
    color:#ffffff;
    background-color: #000000;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
}

h2{
    color:rgb(245,245,220);
    background-color: rgb(165,42,42);
    text-decoration: underline;
}

div {
    text-align: justify;
    line-height: 1.25;
}